@import '/src/assets/vars';

.loading {
  align-items: center;
  background-color: $c-cod-gray;
  display: flex;
  height: 0;
  justify-content: center;
  left: 0;
  opacity: 0.3;
  overflow: hidden;
  position: fixed;
  transition: opacity ease-in 600ms 0s, height 0s 400ms, width 0s 400ms;
  top: 0;
  width: 0;
  z-index: 100;

  &.is-active {
    height: 100vh;
    opacity: 1;
    transition: opacity ease-in 0s 0s, height 0s 0s, width 0s 0s;
    width: 100vw;
  }
}
