@import '/src/assets/vars';

.header {
  &__navbar {
    background-color: $c-cod-gray;
  }

  &__title {
    color: $c-alto;
    font-weight: bolder;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $c-alto;
    }
  }

  &__nav {
    .nav-link {
      color: $c-alto;
    }
  }
}
