// colors
$c-black: #000000;
$c-granite-gray: #666666;
$c-spanish-gray: #979797;
$c-bright-gray: #eeeeee;
$c-white: #ffffff;
$c-atomic-tangerine: #ff8f5f;
$c-philippine-red: #d0102b;
$c-cod-gray: #1b1b1b;
$c-electric-blue: #0088cc;
